.laporan {
    width: 100%;
}

.laporan .table {
    width: 80%;
}

.laporan .kotak {
    width: 20%;
    border: 1px solid;
    display: inline;
    float: left;
}

.laporan .kotak-badan {
    height: 3rem;
}

.laporan .kotakan {
    width: 80%;
}

.laporan .kotak-kepala {
    background-color: rgb(42, 42, 243);
    height: 6rem;
}

@media only print {
    .navbar {
        display: none;
    }

    .sub-header {
        display: none;
    }

    .konten {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .halaman {
        display: none;
    }

    .aksi {
        display: none;
    }

    .pencarian {
        display: none;
    }

    .table {
        width: 100%;
    }

    .table .kepala-dark th {
        color: black;
    }

    .laporan .kotak {
        width: 35%;
        border: 1px solid black;
        display: inline;
        float: left;
        margin-top: 1rem;
    }

    .laporan .kotakan {
        margin-top: 1rem;
    }

    .print {
        display: none;
    }
}

@media only screen and (min-device-width:360px) and (max-device-width:768px) {
    .laporan .kotak {
        width: 43%;
    }

    .laporan .kotak-kepala {
        height: 8.5rem;
    }
}